<h2>商品編集</h2>

<%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>
  <table>
    <tr>
      <td><label for="inputImage"><strong>商品画像</strong></label></td>
      <td><%= f.file_field :image, id:"inputImage", accept: "image/*" %></td>
    </tr>
    <tr>
      <td><label for="inputItemName"><strong>商品名</strong></label></td>
      <td><%= f.text_field :name, id:"inputItemname" %></td>
    </tr>
    <tr>
      <td><label for="inputIntroduction">商品説明</label></td>
      <td><%= f.text_field :introduction, id:"inputIntroduction" %></td>
    </tr>
    <tr>
      <td><label><strong>ジャンル</strong></label></td>
      <td><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %></td>
    </tr>
    <tr>
      <td><label for="inputPrice"><strong>税抜価格</strong></label></td>
      <td><%= f.text_field :price, id:"inputPrice" %></td>
    </tr>
    <tr>
      <td><label><strong>販売ステータス</strong></label></td>
      <td>
        <%= f.radio_button :is_active, true %>
        <strong><%= f.label :is_active_true, "販売中" %></strong>
        <%= f.radio_button :is_active, false %>
        <strong><%= f.label :is_active_false, "販売停止中" %></strong>
      </td>
    </tr>
  </table>
  <%= f.submit "更新" %>
<% end %>