<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <p><strong>名前</strong></p>
  <div class="field">
    <%= f.label :last_name, "姓" %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "姓" %>
  </div>

  <div class="field">
    <%= f.label :first_name, "名" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "名" %><br />
  </div>

  <p><strong>フリガナ</strong></p>
  <div class="field">
    <%= f.label :last_name_kana, "セイ" %>
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "セイ" %>
  </div>

  <div class="field">
    <%= f.label :first_name_kana, "メイ" %>
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "メイ" %><br />
  </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "郵便番号(ハイフンなし)" %><br />
  </div>

  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, autofocus: true, autocomplete: "住所" %><br />
  </div>

  <div class="field">
    <%= f.label :telephone_number, "電話番号(ハイフンなし)" %>
    <%= f.text_field :telephone_number, autofocus: true, autocomplete: "電話番号(ハイフンなし)" %><br />
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autocomplete: "メールアドレス" %><br />
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "パスワード" %><br />
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード確認" %>
    <%= f.password_field :password_confirmation, autocomplete: "パスワード確認" %><br />
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
